doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FYLO 

        link(rel="shortcut icon", href="images/favicon-32x32.png", type="image/x-icon")
        link(rel='stylesheet' href='styles/all.min.css')
        link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
        link(rel="stylesheet", href="styles/style.css")
    body
        //- ======= Nav section ========
        nav
            input(type="checkbox" id="check")
            label(for="check" class="checkbtn")
                i(class='fa-solid fa-bars fa-3x' id='open-nav')
            .nav-content(class='container')
                .nav-logo
                    img(src='images/logo.svg')
                .nav-list(id='nav-menu')
                    ul
                        each val in ['Home', 'About', 'Features','Testimonials', 'Contact']
                            a(data-section=val href='#'+ val )
                                li.pointer=val 
        //- ======= header section =====
        section(id='Home' class='header') 
            .container 
                .header-content 
                    .header-img 
                        img(src='images/illustration-intro.png')
                    .header-text
                        h2 All your files in one secure location,#[br] accessible anywhere.
                        p Fylo stores all your most important files in one secure location. #[br] Access them wherever 
                            |you need, share and collaborate #[br] with friends family, and co-workers.
                    .header-button
                        button(class='button-style') Get Started
        - var aboutCounter = [{count:'10+',title:'Years Experiance'},{count:'250+',title:'Happy Clients'},{count:'650+',title:'Projects Done'},{count:'38',title:'Get Awards'}]
        //-======= about section ======
        section(class='about section-padding' id='About')
            .container 
                .about-title
                    h2(class='title text-white') ABOUT
                .about-content 
                    .about-image(class='about-item' data-aos="fade-up-right")
                        img(src='images/illustration-stay-productive.png')
                    .about-text(class='about-item' data-aos="fade-up-left")
                        h3(class='text-white') Stay productive, #[br] wherever you are
                        p(class='text-white') Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs. #[br] #[br] Securely share files and folders with friends, family and colleagues for live collaboration. No email 
                                | attachments required.
                        br
                        br
                        a(class='text-white pointer') See how Fylo works
                            i(class="fa-solid fa-angles-right")
                        
            div(class="about-content-bottom" data-aos="fade-down-right")
                    .overlay 
                        each val in aboutCounter
                            div(class="about-counter")
                                h4(data-aos="fade-down-right")=val.count
                                p(data-aos="fade-up")=val.title
        //- ===== features section =====
        - var features = [{image:'images/icon-access-anywhere.svg', head:'Access your files, anywhere', text:`The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.`, name:'ACCESS'},{image:'images/icon-security.svg', head:'Security you can trust', text:'factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.' , name:'SECURE'},{image:'images/icon-collaboration.svg', head:'Real-time collaboration', text:'Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.', name:'TIME' },{image:'images/icon-any-file.svg', head:'Store any type of file', text:"Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.", name:'STORE'}]
        section(class='features section-padding' id='Features')
            .container
                .about-title
                    h2(class='title text-white') FEATURES
                .features-content
                    each val in features
                        .features-item(data-aos="flip-left") 
                            img(src=val.image)
                            .features-text 
                                h3=val.head
                                p=val.text
                            .feature-hover 
                                p=val.name
        //-====== testimonials section =====
        - var testimonials = [{img:'images/profile-1.jpg', feedback:'Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.', name:'Satish Patel', hisWork:'Founder & CEO, Huddle'}, {img:'images/profile-2.jpg', feedback:'Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.', name:'Bruce McKenzie', hisWork:'Founder & CEO, Huddle'}, {img:'images/profile-3.jpg', feedback:'Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.', name:'Iva Boyd', hisWork:'Founder & CEO, Huddle'}]
        section(class='testimonials section-padding' id='Testimonials')
            .container 
                .testimonials-title 
                    h2(class='title text-white') TESTIMONIALS
                .testimonials-content
                    .quote-img 
                        img(src='images/bg-quotes.png')
                    each val in testimonials
                        .testimonials-item(class='testimonials-item' data-aos="zoom-in-down")
                            p(class='feedback text-white')=val.feedback
                            .person 
                                .person-img 
                                    img(src=val.img)
                                .person-info(class='text-white') 
                                    h4=val.name 
                                    p=val.hisWork
        //-===== contact section ======
        section(class='contact section-padding' id='Contact')
            .container 
                .contact-title
                    h2(class='title text-white') CONTACT
                .contact-content 
                    .contact-form(data-aos="fade-up-left")  
                        .form-text 
                            h4 Get in touch 
                            p Please fill out the form on this section to contact with me. Or call between 9:00 a.m. and 8:00 p.m. ET, Monday through Friday.
                        .input
                            input(type="text" placeholder="Name")
                        .input
                            input(type="email" placeholder="Email")
                        .text-area
                            textarea( name="" id="" cols="30" rows="10") Message
                        .contact-button
                            button.button-style Send Message

                    .contact-map(data-aos="flip-right") 
                            iframe(src="https://google.com/maps/embed/v1/place?key=AIzaSyAYBpeIr5j02T63_xtKTs3l5vC8eLsNqqI&q=Eiffel+Tower,Paris+France" frameborder="0" width="100%" height="550") Your browser does not support iframes.
                .access(class='text-white') 
                    h4 Get early access today
                    p It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
                    .access-input 
                        input(type="text" placeholder="example@fylo.com") 
                        button(class='button-style') Get Started For Free
        //- ======== footer section =======
        footer(class='footer section-padding')
            .container 
                .footer-content
                    .footer-social(data-aos='fade-up')
                        img(src='images/logo.svg')
                        .social 
                            a(href="")
                                i(class="fa-brands fa-facebook")
                            a(href="")
                                i(class="fa-brands fa-twitter")
                            a(href="")
                                i(class="fa-brands fa-pinterest")
                            a(href="")
                                i(class="fa-brands fa-instagram")
                    .footer-list(data-aos='fade-down') 
                        ul 
                            each val in ['About us', 'Contact','Blog']
                                li.pointer=val
                        ul 
                            each val in ['Careers', 'Support','Privacy Policy']
                                li.pointer=val
                    .footer-copyright(data-aos='fade-left')
                        .footer-button 
                            button(class='pointer button-style') Request Invite 
                        .footer-copyright-text 
                            p © FYLO. All Rights Reserved

        script(src="https://unpkg.com/aos@next/dist/aos.js")
        script(src='js/script.js')            